body{
    font-family: 'lato', sans-serif;
    background: #d3d3d3;
    }

h2,p,.readme-wrapper {
    text-align: center;
    
}

a {
text-decoration: none;
color:red;
}

.boxes{
    display:inline-block;
    margin:1em;
    padding:1em;
    border:1px solid black;
    border-radius:10px;
}

a:hover{
    color:yellow;
    font-weight: 700;
    cursor: pointer;
}